@charset "UTF-8";
//-----------------------------------------------------
// reset.scss 重置样式
// - Version: 1.0.0
// - Author: 王超
// - Date: 2018-06-08
//-----------------------------------------------------
body {
  //font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

em, u, i {
  font-style: normal;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, q, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, hgroup, nav, section, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, iframe {
  display: block
}

a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none
}
ol, ul, li {
  list-style: none
}

// textarea, input[type="password"], input[type="text"], button {
//   resize: none;
//   outline: 0;
//   -webkit-appearance: none;
//   white-space: pre-wrap;
//   word-wrap: break-word;
//   background: #fff;
//   outline: none;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   -webkit-touch-callout: none;
// }

// form, input, button, select, textarea {
//   font-size: 100%
// }

// button, input {
//   line-height: normal;
//   border: none;
// }

// textarea {
//   overflow: auto;
//   vertical-align: top
// }

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset {
  border: none
}
b, strong {
  font-weight: bold
}

img{
  vertical-align: top;
}