@charset "utf-8";
// -webkit-transition: opacity .2s cubic-bezier(.175,.885,.32,1);
// -o-transition: opacity .2s cubic-bezier(.175,.885,.32,1);
// transition: opacity .2s cubic-bezier(.175,.885,.32,1)
// html{overflow-x:hidden;}
a,em,u{ text-decoration: none;font-style: normal;font-weight: normal;}
table {	border-spacing:0; border-collapse:collapse;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-style:normal}
body, ul, li, p, nav, footer, section, header, article,figure,figcaption,aside,hgroup, div, dl, dt, dd, button, h1, h2, h3, h4, h5, h6, img, cite, table, td, th,menu {
	padding: 0; margin: 0; border: 0; text-align: left;line-height:normal;
	list-style-type: none;
	//font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	//font-size:1.2rem;

}


a{ color:#007aff}
img { vertical-align: top;}
i,em,u{
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	-webkit-box-sizing: border-box;
}
a,
img {
	-webkit-touch-callout: none;
	/* 禁止长按链接与图片弹出菜单 */
}
// input,textarea,button{
// 	outline: none;
// 	background: none;
// 	border-radius: 0px;
// 	-webkit-appearance:none;
// 	-webkit-tap-highlight-color:rgba(0,0,0,0);
// }
// *{-webkit-text-size-adjust:none;}
.pubFlex{display: -webkit-box;display: -webkit-flex;display: flex;}/*普通flex布局 */
.autoFlex{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }/*宽度自动伸缩*/
.a_center{
	display: -webkit-box;					/*控制元素绝对居中			 */
	-webkit-box-align:center;
	-webkit-box-pack:center;
}
.oneline_text{
	overflow: hidden;					/*单行文字溢出用点显示			 */
	white-space: nowrap;
	text-overflow: ellipsis;
}
.twoline_text,.threeline_text{
	overflow: hidden;
	display: -webkit-box;					/*两行文字溢出用点显示	 		 */
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}
.threeline_text{
	-webkit-line-clamp:3;					/*三行文字溢出用点显示(改变clamp即可)*/
}
.fl{float:left;}

.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.clr{clear:both;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;overflow:hidden;}
.cent{ margin:0 auto; clear:both}
.fs10{ font-size:1rem;}
.fs12{ font-size:1.2rem;}
.fs14{ font-size:1.4rem;}
.fs16{ font-size:1.6rem;}
.fs18{ font-size:1.8rem;}
.fs20{ font-size:20rem;}
.lh20{ line-height:2;}
.lh15{ line-height:1.5;}





//-----------------------------------------------------
//增加
//-----------------------------------------------------
//-----------------------------------------------------常用flex布局
@import "../base/_css3.scss";
.display-flex{@include display-flex();}//flex
.display-flex__inline{@include display-flex(inline-flex);}////flex-inline
.flex-flow{@include flex-flow(row wrap)}//显示一排，多余换行
.flex-flow-col{@include flex-flow(column wrap)}//列，块级
//对齐是根据主轴和测轴决定默以水平为主
.justify-content__center{@include justify-content(center)}//左右（上下）居中
.justify-content__between{@include justify-content(space-between)}//左右（上下）间距0，中间内容均匀分布
.justify-content__around{@include justify-content(space-around)}//左右（上下）两边间距相同，中间内容均匀分布
//以垂直为主轴
.align-items__center{@include align-items(center)}//左右（上下）居中
.align-items__end{@include align-items(flex-end)}//居于底部（右）
.align-items__stretch{@include align-items(stretch)}//100%高（宽）显示


//-----------------------------------------------------20180525增加
.hide{display: none}
.show{display: block}

